In [1]:
import pandas as pd

In [21]:
cols=['date', 'high', 'low', 'open', 'close']
apple_stocks = pd.read_csv('AAPL.csv', usecols=cols, index_col='date', parse_dates=['date'])
apple_stocks.head(7)

                             close     high     low    open
date
2015-05-27 00:00:00+00:00  132.045  132.260  130.05  130.34
2015-05-28 00:00:00+00:00  131.780  131.950  131.10  131.86
2015-05-29 00:00:00+00:00  130.280  131.450  129.90  131.23
2015-06-01 00:00:00+00:00  130.535  131.390  130.05  131.20
2015-06-02 00:00:00+00:00  129.960  130.655  129.32  129.86
2015-06-03 00:00:00+00:00  130.120  130.940  129.90  130.66
2015-06-04 00:00:00+00:00  129.360  130.580  128.91  129.58

In [22]:
months = apple_stocks.resample('MS')
months

In [23]:
months.groups

{Timestamp('2015-05-01 00:00:00+0000', tz='UTC'): np.int64(3),
 Timestamp('2015-06-01 00:00:00+0000', tz='UTC'): np.int64(25),
 Timestamp('2015-07-01 00:00:00+0000', tz='UTC'): np.int64(47),
 Timestamp('2015-08-01 00:00:00+0000', tz='UTC'): np.int64(68),
 Timestamp('2015-09-01 00:00:00+0000', tz='UTC'): np.int64(89),
 Timestamp('2015-10-01 00:00:00+0000', tz='UTC'): np.int64(111),
 Timestamp('2015-11-01 00:00:00+0000', tz='UTC'): np.int64(131),
 Timestamp('2015-12-01 00:00:00+0000', tz='UTC'): np.int64(153),
 Timestamp('2016-01-01 00:00:00+0000', tz='UTC'): np.int64(172),
 Timestamp('2016-02-01 00:00:00+0000', tz='UTC'): np.int64(192),
 Timestamp('2016-03-01 00:00:00+0000', tz='UTC'): np.int64(214),
 Timestamp('2016-04-01 00:00:00+0000', tz='UTC'): np.int64(235),
 Timestamp('2016-05-01 00:00:00+0000', tz='UTC'): np.int64(256),
 Timestamp('2016-06-01 00:00:00+0000', tz='UTC'): np.int64(278),
 Timestamp('2016-07-01 00:00:00+0000', tz='UTC'): np.int64(298),
 Timestamp('2016-08-01 00:00:00+0000', tz='UTC'): np.int64(321),
 Timestamp('2016-09-01 00:00:00+0000', tz='UTC'): np.int64(342),
 Timestamp('2016-10-01 00:00:00+0000', tz='UTC'): np.int64(363),
 Timestamp('2016-11-01 00:00:00+0000', tz='UTC'): np.int64(384),
 Timestamp('2016-12-01 00:00:00+0000', tz='UTC'): np.int64(405),
 Timestamp('2017-01-01 00:00:00+0000', tz='UTC'): np.int64(425),
 Timestamp('2017-02-01 00:00:00+0000', tz='UTC'): np.int64(444),
 Timestamp('2017-03-01 00:00:00+0000', tz='UTC'): np.int64(467),
 Timestamp('2017-04-01 00:00:00+0000', tz='UTC'): np.int64(486),
 Timestamp('2017-05-01 00:00:00+0000', tz='UTC'): np.int64(508),
 Timestamp('2017-06-01 00:00:00+0000', tz='UTC'): np.int64(530),
 Timestamp('2017-07-01 00:00:00+0000', tz='UTC'): np.int64(550),
 Timestamp('2017-08-01 00:00:00+0000', tz='UTC'): np.int64(573),
 Timestamp('2017-09-01 00:00:00+0000', tz='UTC'): np.int64(593),
 Timestamp('2017-10-01 00:00:00+0000', tz='UTC'): np.int64(615),
 Timestamp('2017-11-01 00:00:00+0000', tz='UTC'): np.int64(636),
 Timestamp('2017-12-01 00:00:00+0000', tz='UTC'): np.int64(656),
 Timestamp('2018-01-01 00:00:00+0000', tz='UTC'): np.int64(677),
 Timestamp('2018-02-01 00:00:00+0000', tz='UTC'): np.int64(696),
 Timestamp('2018-03-01 00:00:00+0000', tz='UTC'): np.int64(717),
 Timestamp('2018-04-01 00:00:00+0000', tz='UTC'): np.int64(738),
 Timestamp('2018-05-01 00:00:00+0000', tz='UTC'): np.int64(760),
 Timestamp('2018-06-01 00:00:00+0000', tz='UTC'): np.int64(781),
 Timestamp('2018-07-01 00:00:00+0000', tz='UTC'): np.int64(802),
 Timestamp('2018-08-01 00:00:00+0000', tz='UTC'): np.int64(825),
 Timestamp('2018-09-01 00:00:00+0000', tz='UTC'): np.int64(844),
 Timestamp('2018-10-01 00:00:00+0000', tz='UTC'): np.int64(867),
 Timestamp('2018-11-01 00:00:00+0000', tz='UTC'): np.int64(888),
 Timestamp('2018-12-01 00:00:00+0000', tz='UTC'): np.int64(907),
 Timestamp('2019-01-01 00:00:00+0000', tz='UTC'): np.int64(928),
 Timestamp('2019-02-01 00:00:00+0000', tz='UTC'): np.int64(947),
 Timestamp('2019-03-01 00:00:00+0000', tz='UTC'): np.int64(968),
 Timestamp('2019-04-01 00:00:00+0000', tz='UTC'): np.int64(989),
 Timestamp('2019-05-01 00:00:00+0000', tz='UTC'): np.int64(1011),
 Timestamp('2019-06-01 00:00:00+0000', tz='UTC'): np.int64(1031),
 Timestamp('2019-07-01 00:00:00+0000', tz='UTC'): np.int64(1053),
 Timestamp('2019-08-01 00:00:00+0000', tz='UTC'): np.int64(1075),
 Timestamp('2019-09-01 00:00:00+0000', tz='UTC'): np.int64(1095),
 Timestamp('2019-10-01 00:00:00+0000', tz='UTC'): np.int64(1118),
 Timestamp('2019-11-01 00:00:00+0000', tz='UTC'): np.int64(1138),
 Timestamp('2019-12-01 00:00:00+0000', tz='UTC'): np.int64(1159),
 Timestamp('2020-01-01 00:00:00+0000', tz='UTC'): np.int64(1180),
 Timestamp('2020-02-01 00:00:00+0000', tz='UTC'): np.int64(1199),
 Timestamp('2020-03-01 00:00:00+0000', tz='UTC'): np.int64(1221),
 Timestamp('2020-04-01 00:00:00+0000', tz='UTC'): np.int64(1242),
 Timestamp('2020-05-01 00:00:00+0000', tz='UTC'): np.int64(1258)}

In [24]:
months.get_group('2020-03-01 00:00:00+0000')

                            close      high     low     open
date
2020-03-02 00:00:00+00:00  298.81  301.4400  277.72  282.280
2020-03-03 00:00:00+00:00  289.32  304.0000  285.80  303.670
2020-03-04 00:00:00+00:00  302.74  303.4000  293.13  296.440
2020-03-05 00:00:00+00:00  292.92  299.5500  291.41  295.520
2020-03-06 00:00:00+00:00  289.03  290.8200  281.23  282.000
2020-03-09 00:00:00+00:00  266.17  278.0900  263.00  263.750
2020-03-10 00:00:00+00:00  285.34  286.4400  269.37  277.140
2020-03-11 00:00:00+00:00  275.43  281.2200  271.86  277.390
2020-03-12 00:00:00+00:00  248.23  270.0000  248.00  255.940
2020-03-13 00:00:00+00:00  277.97  279.9200  252.95  264.890
2020-03-16 00:00:00+00:00  242.21  259.0800  240.00  241.950
2020-03-17 00:00:00+00:00  252.86  257.6100  238.40  247.510
2020-03-18 00:00:00+00:00  246.67  250.0000  237.12  239.770
2020-03-19 00:00:00+00:00  244.78  252.8400  242.61  247.385
2020-03-20 00:00:00+00:00  229.24  251.8300  228.00  247.180
2020-03-23 00:00:00+00:00  224.37  228.4997  212.61  228.080
2020-03-24 00:00:00+00:00  246.88  247.6900  234.30  236.360
2020-03-25 00:00:00+00:00  245.52  258.2500  244.30  250.750
2020-03-26 00:00:00+00:00  258.44  258.6800  246.36  246.520
2020-03-27 00:00:00+00:00  247.74  255.8700  247.05  252.750
2020-03-30 00:00:00+00:00  254.81  255.5200  249.40  250.740
2020-03-31 00:00:00+00:00  254.29  262.4900  252.00  255.600

In [25]:
months.mean().round(2)

                            close    high     low    open
date
2015-05-01 00:00:00+00:00  131.37  131.89  130.35  131.14
2015-06-01 00:00:00+00:00  127.81  128.76  127.24  128.06
2015-07-01 00:00:00+00:00  125.34  126.20  124.34  125.45
2015-08-01 00:00:00+00:00  113.39  115.50  111.29  113.44
2015-09-01 00:00:00+00:00  112.80  114.21  111.52  113.00
...                           ...     ...     ...     ...
2020-01-01 00:00:00+00:00  311.92  314.33  308.83  311.17
2020-02-01 00:00:00+00:00  311.27  315.25  306.73  310.31
2020-03-01 00:00:00+00:00  262.44  269.69  254.85  261.07
2020-04-01 00:00:00+00:00  272.39  275.78  268.08  271.81
2020-05-01 00:00:00+00:00  308.04  311.09  304.10  306.38

[61 rows x 4 columns]

In [27]:
apple_stocks.index = apple_stocks.index.to_period('M')
months2 = apple_stocks.groupby(apple_stocks.index)
months2

C:\Users\skill\AppData\Local\Temp\ipykernel_22188\602654059.py:1: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  apple_stocks.index = apple_stocks.index.to_period('M')

In [28]:
months2.groups

{2015-05: [2015-05, 2015-05, 2015-05], 2015-06: [2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06, 2015-06], 2015-07: [2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07, 2015-07], 2015-08: [2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08, 2015-08], 2015-09: [2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09, 2015-09], 2015-10: [2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10, 2015-10], 2015-11: [2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11, 2015-11], 2015-12: [2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12, 2015-12], 2016-01: [2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01, 2016-01], 2016-02: [2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02, 2016-02], 2016-03: [2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03, 2016-03], 2016-04: [2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04, 2016-04], 2016-05: [2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05, 2016-05], 2016-06: [2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06, 2016-06], 2016-07: [2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07, 2016-07], 2016-08: [2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08, 2016-08], 2016-09: [2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09, 2016-09], 2016-10: [2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10, 2016-10], 2016-11: [2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11, 2016-11], 2016-12: [2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12, 2016-12], 2017-01: [2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01, 2017-01], 2017-02: [2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02, 2017-02], 2017-03: [2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03, 2017-03], 2017-04: [2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04, 2017-04], 2017-05: [2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05, 2017-05], 2017-06: [2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06, 2017-06], 2017-07: [2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07, 2017-07], 2017-08: [2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08, 2017-08], 2017-09: [2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09, 2017-09], 2017-10: [2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10, 2017-10], 2017-11: [2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11, 2017-11], 2017-12: [2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12, 2017-12], 2018-01: [2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01, 2018-01], 2018-02: [2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02, 2018-02], 2018-03: [2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03, 2018-03], 2018-04: [2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04, 2018-04], 2018-05: [2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05, 2018-05], 2018-06: [2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06, 2018-06], 2018-07: [2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07, 2018-07], 2018-08: [2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08, 2018-08], 2018-09: [2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09, 2018-09], 2018-10: [2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10, 2018-10], 2018-11: [2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11, 2018-11], 2018-12: [2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12, 2018-12], 2019-01: [2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01, 2019-01], 2019-02: [2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02, 2019-02], 2019-03: [2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03, 2019-03], 2019-04: [2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04, 2019-04], 2019-05: [2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05, 2019-05], 2019-06: [2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06, 2019-06], 2019-07: [2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07, 2019-07], 2019-08: [2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08, 2019-08], 2019-09: [2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09, 2019-09], 2019-10: [2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10, 2019-10], 2019-11: [2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11, 2019-11], 2019-12: [2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12, 2019-12], 2020-01: [2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01, 2020-01], 2020-02: [2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02, 2020-02], 2020-03: [2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03, 2020-03], 2020-04: [2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04, 2020-04], 2020-05: [2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05, 2020-05]}

In [29]:
months2.mean().round(2)

          close    high     low    open
date
2015-05  131.37  131.89  130.35  131.14
2015-06  127.81  128.76  127.24  128.06
2015-07  125.34  126.20  124.34  125.45
2015-08  113.39  115.50  111.29  113.44
2015-09  112.80  114.21  111.52  113.00
...         ...     ...     ...     ...
2020-01  311.92  314.33  308.83  311.17
2020-02  311.27  315.25  306.73  310.31
2020-03  262.44  269.69  254.85  261.07
2020-04  272.39  275.78  268.08  271.81
2020-05  308.04  311.09  304.10  306.38

[61 rows x 4 columns]

In [30]:
months2.agg({'high':['max', 'min'], 'low':['max', 'min']}).round(2)

           high             low
            max     min     max     min
date
2015-05  132.26  131.45  131.10  129.90
2015-06  131.39  126.12  130.05  124.48
2015-07  132.97  122.57  130.70  119.22
2015-08  122.57  108.80  117.52   92.00
2015-09  116.89  110.45  115.44  107.36
...         ...     ...     ...     ...
2020-01  327.85  299.96  321.38  292.75
2020-02  327.22  278.41  323.35  256.37
2020-03  304.00  228.50  293.13  212.61
2020-04  294.53  245.15  288.35  236.90
2020-05  320.89  293.69  316.20  285.85

[61 rows x 4 columns]