In [1]:
import pandas as pd

In [3]:
formula_circuits = pd.read_csv('circuits.csv')
formula_circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,12,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,0,http://en.wikipedia.org/wiki/Miami_Internation...

In [13]:
formula_circ_longitude = formula_circuits[formula_circuits['lng'] > -50]
formula_circ_longitude = formula_circ_longitude[['country', 'lng']]
formula_circ_longitude

         country         lng
0      Australia  144.968000
1       Malaysia  101.738000
2        Bahrain   50.510600
3          Spain    2.261110
4         Turkey   29.405000
5         Monaco    7.420560
7         France    3.163610
8             UK   -1.016940
9        Germany    8.565830
10       Hungary   19.248600
11         Spain   -0.331667
12       Belgium    5.971390
13         Italy    9.281110
14     Singapore  103.864000
15         Japan  138.927000
16         China  121.220000
17        Brazil  -46.699700
19       Germany    6.947500
20         Italy   11.716700
21         Japan  136.541000
23           UAE   54.603100
25         Spain   -6.034170
26      Portugal   -9.394170
27         Japan  134.221000
28     Australia  138.617000
29  South Africa   28.076700
30            UK   -1.375280
33        France    5.791670
34         Korea  126.417000
35        Brazil  -43.395000
37            UK    0.263056
38   Netherlands    4.540920
39       Belgium    5.256940
40        France    4.899130
44         Spain   -3.585580
46        Sweden   13.604200
48         Spain    2.151670
49       Belgium    4.326940
50        France    3.038890
52        France    1.004580
53        France    0.224231
54        France    3.930830
55  South Africa   27.873600
56       Austria   14.747800
57            UK   -2.940560
58      Portugal   -8.673250
60       Germany   13.251400
61      Portugal   -9.203060
63       Morocco   -7.687500
64         Italy   14.150800
65   Switzerland    7.401940
66         Spain    2.116670
67         India   77.533100
69       Austria   14.764700
70        Russia   39.957800
71    Azerbaijan   49.853300
72      Portugal   -8.626700
73         Italy   11.371900
74  Saudi Arabia   39.104400
75         Qatar   51.454200

In [18]:
formula_alt_range = formula_circuits[(formula_circuits['alt'] > 200) & (formula_circuits['alt'] > 800)]
formula_alt_range = formula_alt_range[['country', 'alt']]
formula_alt_range

         country   alt
29  South Africa  1460
31        Mexico  2227
35        Brazil  1126