In [1]:
import pandas as pd

In [52]:
pokemon = pd.read_csv('Pokemon.csv', index_col='#')
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [53]:
pokemon.agg({'Attack': 'mean', 'Defense': 'max'})

Attack      79.00125
Defense    230.00000
dtype: float64

In [54]:
pokemon.agg({'Attack': ['min', 'max', 'std'], 'Defense': ['min', 'max', 'mean']}) # 'std' -> standard deviation

          Attack   Defense
min     5.000000    5.0000
max   190.000000  230.0000
std    32.457366       NaN
mean         NaN   73.8425

In [55]:
pokemon.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [56]:
pokemon.agg('max', numeric_only=True)

Total          780
HP             255
Attack         190
Defense        230
Sp. Atk        194
Sp. Def        230
Speed          180
Generation       6
Legendary     True
dtype: object

In [70]:
pokemon_minmax= pokemon.drop(columns=['Name', 'Type 1', 'Type 2', 'Legendary'])
pokemon_minmax.agg(['max', 'min', 'mean', 'std'], numeric_only=True).round()

      Total     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
max   780.0  255.0   190.0    230.0    194.0    230.0  180.0         6.0
min   180.0    1.0     5.0      5.0     10.0     20.0    5.0         1.0
mean  435.0   69.0    79.0     74.0     73.0     72.0   68.0         3.0
std   120.0   26.0    32.0     31.0     33.0     28.0   29.0         2.0