In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv('Pokemon.csv', index_col='#')
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
pokemon['Legendary'] = pokemon['Legendary'].map({False:'No', True:'Yes'})
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes

In [4]:
pokemon['Generation'] = pokemon['Generation'].map({1:'First'})
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,First,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,First,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,First,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,First,No
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,First,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,NaN,Yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,NaN,Yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,NaN,Yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,NaN,Yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,NaN,Yes

In [5]:
pokemon.map(type)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
2,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
4,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...
719,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>
719,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>
720,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>
720,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>
721,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>

In [8]:
def uppercase(var: str) -> str:
    return var.upper()

In [12]:
pokemon = pokemon.map(str)
pokemon.map(uppercase)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,BULBASAUR,GRASS,POISON,318,45,49,49,65,65,45,FIRST,NO
2,IVYSAUR,GRASS,POISON,405,60,62,63,80,80,60,FIRST,NO
3,VENUSAUR,GRASS,POISON,525,80,82,83,100,100,80,FIRST,NO
3,VENUSAURMEGA VENUSAUR,GRASS,POISON,625,80,100,123,122,120,80,FIRST,NO
4,CHARMANDER,FIRE,NAN,309,39,52,43,60,50,65,FIRST,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
719,DIANCIE,ROCK,FAIRY,600,50,100,150,100,150,50,NAN,YES
719,DIANCIEMEGA DIANCIE,ROCK,FAIRY,700,50,160,110,160,110,110,NAN,YES
720,HOOPAHOOPA CONFINED,PSYCHIC,GHOST,600,80,110,60,150,130,70,NAN,YES
720,HOOPAHOOPA UNBOUND,PSYCHIC,DARK,680,80,160,60,170,130,80,NAN,YES
721,VOLCANION,FIRE,WATER,600,80,110,120,130,90,70,NAN,YES

In [13]:
pokemon.map(len)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,9,5,6,3,2,2,2,2,2,2,5,2
2,7,5,6,3,2,2,2,2,2,2,5,2
3,8,5,6,3,2,2,2,3,3,2,5,2
3,21,5,6,3,2,3,3,3,3,2,5,2
4,10,4,3,3,2,2,2,2,2,2,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...
719,7,4,5,3,2,3,3,3,3,2,3,3
719,19,4,5,3,2,3,3,3,3,3,3,3
720,19,7,5,3,2,3,2,3,3,2,3,3
720,18,7,4,3,2,3,2,3,3,2,3,3
721,9,4,5,3,2,3,3,3,2,2,3,3