In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv('Pokemon.csv', index_col='#')
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
pokemon.groupby('Type 1').agg({'Total': ['max', 'min', 'mean']}).round(2)

         Total
           max  min    mean
Type 1
Bug        600  194  378.93
Dark       680  220  445.74
Dragon     780  300  550.53
Electric   610  205  443.41
Fairy      680  218  413.18
Fighting   625  210  416.44
Fire       680  250  458.08
Flying     580  245  485.00
Ghost      680  275  439.56
Grass      630  180  421.14
Ground     770  265  437.50
Ice        580  250  433.46
Normal     720  190  401.68
Poison     535  245  399.14
Psychic    780  198  475.95
Rock       700  280  453.75
Steel      700  300  487.70
Water      770  200  430.46

In [7]:
pokemon.groupby(by=['Type 1', 'Type 2']).agg({'Total': ['max', 'min', 'mean']}).round(2)

                Total
                  max  min    mean
Type 1 Type 2
Bug    Electric   472  319  395.50
       Fighting   600  500  550.00
       Fire       550  360  455.00
       Flying     600  244  419.50
       Ghost      236  236  236.00
...               ...  ...     ...
Water  Ice        535  475  511.67
       Poison     515  335  426.67
       Psychic    590  315  481.00
       Rock       495  355  428.75
       Steel      530  530  530.00

[136 rows x 3 columns]

In [8]:
poke_groups = pokemon.groupby(by=['Type 1', 'Type 2'], dropna=False)
poke_groups

In [9]:
poke_groups.agg({'Total': ['max', 'min', 'mean'], 'Attack': 'max'}).round(2)

                Total              Attack
                  max  min    mean    max
Type 1 Type 2
Bug    Electric   472  319  395.50     77
       Fighting   600  500  550.00    185
       Fire       550  360  455.00     85
       Flying     600  244  419.50    155
       Ghost      236  236  236.00     90
...               ...  ...     ...    ...
Water  Poison     515  335  426.67     95
       Psychic    590  315  481.00     75
       Rock       495  355  428.75    108
       Steel      530  530  530.00     86
       NaN        770  200  413.75    150

[154 rows x 4 columns]